$main-black: #000;
$general-grey: #f4f5f0;
$brand-red: #c20024;
$brand-hover-red: #760016;
$secondary-white: #fff;
$border-grey: #ebebeb;

$main-color: $main-black;
$general-color: $general-grey;
$brand-color: $brand-red;
$brand-hover-color: $brand-hover-red;
$secondary-color: $secondary-white;
$border-color: $border-grey;