$main-black: #000;
$general-grey: #f4f5f0;
$brand-red: #c20024;
$brand-hover-red: #760016;
$secondary-white: #fff;
$border-grey: #ebebeb;
$brand-border-red: rgba(194, 0, 36, 0.34);
$tertiary-grey: #666;
$secondary-border-dark: #1b191c;

$main-color: $main-black;
$general-color: $general-grey;
$brand-color: $brand-red;
$brand-hover-color: $brand-hover-red;
$secondary-color: $secondary-white;
$border-color: $border-grey;
$brand-border-color: $brand-border-red;
$tertiary-color: $tertiary-grey;
$secondary-border-color: $secondary-border-dark;