.btn {
  font-size: 1.4rem;
  padding: .7em 1.5rem;
  color: $main-color;
  border: none;
  border-radius: 0;

  &-color {
    background: $brand-color;
    color: $secondary-color;

    &:hover {
      background: $brand-hover-color;
    }
  }

  &-radius {
    border-radius: 0.5rem;
  }
  &-form {
    text-transform: uppercase;
    padding: 0 2.5rem;
  }

  &-cart {
    text-indent: -9999px;
    width: 6.5rem;
    height: 6rem;
    background: $brand-color url("../img/cart.png") 50% 50% no-repeat;
  }

  &-close {
    position: absolute;
    top: 0;
    left: 0;
    background: $general-color;
    padding: 0.5rem 1rem;
  }
}