.cart-wrap {
  display: flex;
  justify-content: flex-end;
  background: $general-color;
}

.bottom-header {
  padding: 4rem 0;
}

.logo {
  display: block;
  max-width: 25rem;
  margin: 0 auto;
}

.logo-img {
  width: 100%;
  height: auto;
}

h1 {
  text-indent: -9999px;
}