.title {
  @include agenda(1.6rem);
  text-align: center;
  color: $main-color;
  text-transform: uppercase;

  &-small {
    @include agenda(1.1rem);
    text-transform: capitalize;
  }

  &-smallest {
    @include agenda(1rem);
    text-transform: capitalize;
  }

  &-grey {
    color: $tertiary-color;
  }
}

.text {
  @include agenda(1rem);
  line-height: 1.5em;
  color: $main-color;

  &-brand {
    color: $brand-color;
  }

  &-grey {
    color: $tertiary-color;
  }

  &-big {
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  &-small {
    font-size: 0.9rem;
  }
}
